@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ju3i83');
  src:  url('fonts/icomoon.eot?ju3i83#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ju3i83') format('truetype'),
    url('fonts/icomoon.woff?ju3i83') format('woff'),
    url('fonts/icomoon.svg?ju3i83#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-learn:before {
  content: "\e90f";
}
.icon-minus-solid:before {
  content: "\e90e";
}
.icon-plus-stroke:before {
  content: "\e90c";
}
.icon-minus:before {
  content: "\e90d";
}
.icon-arrow-top:before {
  content: "\e908";
}
.icon-arrow-down:before {
  content: "\e909";
}
.icon-arrow-left:before {
  content: "\e90a";
}
.icon-arrow-right:before {
  content: "\e90b";
}
.icon-plus:before {
  content: "\e907";
}
.icon-done:before {
  content: "\e900";
}
.icon-search:before {
  content: "\e901";
}
.icon-language:before {
  content: "\e902";
}
.icon-link:before {
  content: "\e903";
}
.icon-phone:before {
  content: "\e904";
}
.icon-email:before {
  content: "\e905";
}
.icon-connection:before {
  content: "\e906";
}
