.home-main {
  width: 100%;
  margin-bottom: 8rem;
}
.home-main-content{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  padding-top: 21rem;
  min-height: 80rem;
  @media screen and (max-width: 1024px) {
    padding-top: 15rem;
  }
}
.home-main-section{
  max-width: 66rem;
  margin: 0 auto;
  position: relative;
  z-index: 10;
  >h1{
    line-height: 1.4;
    color: #000000;
    text-align: center;
    >span{
      color: #ffffff;
      border-radius: 1.2rem;
      padding: 0.6rem 1.6rem;
      background-image: linear-gradient(to right, #2b43d5, #5626d5);
    }
  }
}
.home-main-section-info{
  font-size: 2.4rem;
  line-height: 2.6rem;
  font-weight: 400;
  text-align: center;
  color: #b6b9c2;
  margin-top: 1.6rem;
  @media screen and (max-width: 568px) {
    font-size: 1.8rem;
    line-height: 2.2rem;
  }
}
.service-label{
  position: absolute;
  height: 5.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2.4rem;
  border-radius: 5rem;
  cursor: pointer;
  >a{
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: #83848a;
  }
  &:nth-of-type(odd){
    border-bottom-right-radius: 0;
  }
  &:nth-of-type(even){
    border-bottom-left-radius: 0;
  }
  &:nth-of-type(1){
    background-color: rgba(252, 246, 189, 0.6);
    top: 6%;
    left: 18%;
  }
  &:nth-of-type(2){
    background-color: #e2e8ff;
    top: 12%;
    right: 8%;
  }
  &:nth-of-type(3){
    background-color: #f8f3ff;
    left: 3%;
    top: 18%;
  }
  &:nth-of-type(4){
    background-color: #f0f5ff;
    right: 8%;
    top: 36%;
  }
  &:nth-of-type(5){
    background-color: #caffd34d;
    bottom: 42%;
    left: 3%;
  }
  @media screen and (max-width: 1100px) {
    &:nth-of-type(4){
      right: 0;
    }
    &:nth-of-type(5){
      left: 0;
    }
  }
  @media screen and (max-width: 1024px) {
    height: 3.4rem;
    padding: 0 1.8rem;
    >a{
      font-size: 1.8rem;
      line-height: 2rem;
    }
    &:nth-of-type(1){
      top: 4%;
      left: 10%;
    }
    &:nth-of-type(2){
      top: 4%;
      right: 12%;
    }
    &:nth-of-type(3){
      left: 1%;
      top: 11%;
    }
    &:nth-of-type(4){
      right: 6%;
      top: 11%;
    }
    &:nth-of-type(5){
      bottom: auto;
      left: 44%;
      top: 11%;
    }
  }
  @media screen and (max-width: 568px) {
    padding: 0 1.4rem;
    >a{
      font-size: 1.6rem;
      line-height: 1.8rem;
    }
    &:nth-of-type(1){
      top: 2%;
      left: 0;
    }
    &:nth-of-type(2){
      top: 8%;
      right: 0;
    }
    &:nth-of-type(3){
      left: 14%;
      top: 14%;
    }
    &:nth-of-type(4){
      right: 0;
      top: 2%;
    }
    &:nth-of-type(5){
      left: 0;
      top: 8%;
    }
  }
}
.home-search-container{
  width: 100%;
  margin-top: 4rem;
  @media screen and (max-width: 568px) {
    margin-top: 2.4rem;
  }
}
.home-search-wrapper{
  width: 100%;
  height: 5.8rem;
  position: relative;
  >i{
    position: absolute;
    top: 50%;
    margin-top: -1.2rem;
    left: 2.4rem;
    width: 2.4rem;
    height: 2.4rem;
    font-size: 2.2rem;
    color: #83848A;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @media screen and (max-width: 568px) {
    height: 4.8rem;
    >i{
      font-size: 2rem;
      left: 1.6rem;
    }
  }
}
.home-search{
  width: 100%;
  border-radius: 5rem;
  padding: 0 2.4rem 0 6rem;
  height: 5.8rem;
  box-shadow: 0.1rem 0.1rem 0.8rem 0 rgba(43, 67, 213, 0.2);
  background: #ffffff;
  font-size: 1.8rem;
  font-weight: 500;
  border: none;
  outline: none;
  &::placeholder{
    font-size: 1.8rem;
    color: #83848A;
  }
  @media screen and (max-width: 568px) {
    height: 4.8rem;
    font-size: 1.6rem;
    padding: 0 1.8rem 0 5rem;
    &::placeholder{
      font-size: 1.6rem;
    }
  }
}
.search-items-wrapper{
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin-top: 0.4rem;
  border-radius: 1.2rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 240ms;
  &.active{
    max-height: 30rem;
    box-shadow: 0.1rem 0.1rem 0.8rem 0 rgba(43, 67, 213, 0.2);
  }
}
.search-items-container{
  width: 100%;
  padding: 0.8rem;
  background-color: #ffffff;
  border-radius: 1.2rem;
}
.search-items-content{
  width: 100%;
  max-height: 26rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}
.search-items-row{
  display: flex;
  align-items: center;
  min-height: 4.2rem;
  padding: 0 1.2rem;
  border-radius: 0.8rem;
  background-color: #FFFFFF;
  transition: background-color 180ms;
  cursor: pointer;
  &:not(:last-child){
    margin-bottom: 0.4rem;
  }
  &:hover{
    background-color: #f0f5ff;
    .search-items-row-txt{
      color: #4A4A4E;
    }
  }
  @media screen and (max-width: 568px) {
    min-height: 3.8rem;
  }
}
.search-items-row-txt{
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2rem;
  color: #83848a;
  transition: color 120ms;
  @media screen and (max-width: 568px) {
    font-size: 1.6rem;
    line-height: 1.8rem;
  }
}

.services-section-container{
  width: 100%;
  margin-bottom: 8rem;
  .section-title{
    &:after{
      content: "";
      position: absolute;
      left: 84%;
      top: -7.2rem;
      width: 13.4rem;
      height: 10rem;
      background-image: url("../../../../public/img/services-section-top.png");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: contain;
    }
  }
  @media screen and (max-width: 568px) {
    margin-bottom: 4rem;
    .section-title{
      width: 100%;
      padding-right: 8.4rem;
      &:after{
        left: auto;
        right: 0;
        top: -1rem;
        width: 8rem;
        height: 6rem;
      }
    }
  }
}
.services-section{
  width: 100%;
}
.section-title{
  position: relative;
  display: inline-block;
  margin-bottom: 4rem;
  @media screen and (max-width: 568px) {
    margin-bottom: 2rem;
  }
}

.middle-banner{
  width: 100%;
  margin-bottom: 8rem;
  @media screen and (max-width: 568px) {
    margin-bottom: 4rem;
  }
}
.middle-banner-content{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 54rem;
  padding: 4rem 6rem;
  border-radius: 1.2rem;
  //background-image: url("../../../public/img/banner.jpg");
  //background-repeat: no-repeat;
  //background-position: 50% 50%;
  //background-size: contain;
  position: relative;
  overflow: hidden;
  background-color: #000000;
  &:before, &:after{
    content: "";
    position: absolute;
    z-index: 1;
  }
  &:before{
    left: 0;
    top: 0;
    width: 30%;
    height: 100%;
    background: url("../../../../public/img/mid-banner-blue.png") no-repeat 0 0;
    background-size: contain;
  }
  &:after{
    top: 50%;
    right: 3rem;
    transform: translate3d(0, -50%, 0);
    width: 60rem;
    height: 45rem;
    background: url("../../../../public/img/person-back.png") no-repeat 0 0;
    background-size: contain;
  }
  @media screen and (max-width: 1024px) {
    padding: 2rem 36% 2rem 3rem;
  }
  @media screen and (max-width: 568px) {
    padding-bottom: 26rem;
    padding-right: 3rem;
    &:after{
      top: 78%;
      right: 0.2rem;
      width: 25rem;
      height: 22rem;
    }
  }
}
.middle-banner-info{
  max-width: 50.6rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  z-index: 10;
}
.middle-banner-person-info{
  position: absolute;
  bottom: 0;
  right: 10%;
  width: 43rem;
  height: 100%;
  z-index: 11;
  &:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../../../../public/img/person-img.png") no-repeat 50% 100%;
    background-size: contain;
    z-index: 11;
  }
  @media screen and (max-width: 1024px) {
    right: 0;
    width: 30%;
    &:before{

    }
  }
  @media screen and (max-width: 568px) {
    width: 50%;
    height: 40%;
  }
}
.banner-students-info{
  position: absolute;
  top: 14rem;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 11.2rem;
  padding: 1.2rem;
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 1.2rem;
  color: #FFFFFF;
  z-index: 1;
  &:after{
    content: "";
    position: absolute;
    top: -4.2rem;
    left: -3rem;
    width: 6.4rem;
    height: 6.4rem;
    transform: rotate(333deg);
    background: url("../../../../public/img/students-hat.png") no-repeat 50% 50%;
    background-size: contain;
    z-index: 11;
  }
  @media screen and (max-width: 1024px) {
    top: 25rem;
    left: -1.8rem;
  }
  @media screen and (max-width: 568px) {
    top: 14rem;
    left: -13rem;
  }
}
.banner-students-info-txt{
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: #B6B9C2;
  text-align: center;
}
.middle-banner-min-txt{
  margin-bottom: 0.2rem;
  color: #ffffff;
}
.middle-banner-title{
  margin-bottom: 2.4rem;
  //color: #ffffff;
  @media screen and (max-width: 568px) {
    margin-bottom: 1.4rem;
  }
}
.middle-banner-info-txt{
  display: block;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2.6rem;
  color: #b6b9c2;
  margin-bottom: 4rem;
  @media screen and (max-width: 568px) {
    font-size: 2rem;
    line-height: 2.4rem;
    margin-bottom: 2.4rem;
  }
}
.middle-banner-btn{
  min-width: 14.2rem;
  height: 4.6rem;
  border-radius: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.1rem solid #ffffff;
  font-size: 1.8rem;
  line-height: 2.6rem;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 200ms, color 180ms;
  background-color: #000000;
  &:hover{
    background-color: #FFFFFF;
    color: #000000;
  }
  &:active{
    transform: scale(0.98);
  }
}

.benefit-section{
  width: 100%;
  margin-bottom: 8rem;
  @media screen and (max-width: 568px) {
    margin-bottom: 4rem;
  }
}
.benefit-section-container{
  width: 100%;
}
.benefit-section-items-container{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));
  gap: 2.4rem;
}
.benefit-section-item{
  min-height: 34rem;
  display: flex;
  flex-direction: column;
  padding: 6rem 4rem;
  border-radius: 1.2rem;
  position: relative;
  box-shadow: 0 0 0.4rem #cdcdcd;
  &:first-child{
    background-color: #F3FFF5;
    .benefit-item-inner-img{
      background-image: url("../../../../public/img/budget.png");
    }
  }
  &:nth-child(2){
    background-color: #FFFCF3;
    .benefit-item-inner-img{
      background-image: url("../../../../public/img/quality.png");
    }
  }
  &:nth-child(3){
    z-index: 10;
    background-color: #F8F3FF;
    .benefit-item-inner-img{
      background-image: url("../../../../public/img/payment.png");
    }
  }
  &:nth-child(4){
    background-color: #E2E8FF;
    .benefit-item-inner-img{
      background-image: url("../../../../public/img/support.png");
    }
  }
  @media screen and (max-width: 568px) {
    min-height: 24rem;
    padding: 3rem;
  }
}
.benefit-item-inner-img{
  width: 7.4rem;
  height: 7.4rem;
  margin-bottom: 1.2rem;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}
.benefit-item-title{
  font-size: 2.4rem;
  line-height: 2.6rem;
  font-weight: 600;
  color: #1c1c20;
  margin-bottom: 1.6rem;
}
.benefit-item-info{
  font-weight: 400;
  color: #83848a;
}
.benefit-item-top-shine{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  top: -5.3rem;
  width: 21rem;
  height: 14rem;
  background-image: url("../../../../public/img/benefit-shine-img.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  padding: 4rem 3rem 4rem 4.4rem;
  //@media screen and (max-width: 568px) {
  //  right: 0;
  //}
}
.benefit-item-top-shine-txt{
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-weight: 600;
  text-align: center;
  color: #1c1c20;
}