@import "reset.scss";
@import "structure.scss";
@import "../styles/single-service";
@import "../../public/font/stylesheet.css";
@import "../../public/icons/style.css";

:root{
  --link1: #2b43d5;
  --link1-H: #5165e1;
}

.main-container{
  width: 100%;
  max-width: 130rem;
  padding: 0 2rem;
  margin: 0 auto;
  @media screen and (max-width: 761px) {
    padding: 0 1.6rem;
  }
}
h1{
  font-size: 6.4rem;
  line-height: 6.8rem;
}
h2{
  font-size: 5.6rem;
  line-height: 5.8rem;
  font-weight: 600;
}
h3{
  font-size: 4.8rem;
  line-height: 5.2rem;
  font-weight: 600;
  &:not(.light){
    color: #1c1c20;
  }
  &.light{
    color: #ffffff;
  }
}
h4{
  font-size: 3.2rem;
  line-height: 3.4rem;
}
h5{
  font-size: 1.8rem;
  line-height: 2.6rem;
  &.section-subtitle{
    font-weight: 600;
    letter-spacing: 0.02em;
    color: #2F40D5;
  }
}
h6{
  font-size: 1.6rem;
  line-height: 1.8rem;
}
.middle-txt{
  font-size: 2.4rem;
  line-height: 2.6rem;
}

//get touch section start
.get-in-touch-section {
  position: relative;
  z-index: 10;
  height: 80rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 6rem;
  border-bottom-right-radius: 6rem;
  background-color: #000000;
}
.click-txt{
  font-size: 25rem;
  line-height: 1.1;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}
//get touch section end

/* Footer */
footer {
  background-image: linear-gradient(125deg, #2b43d5 0%, #5626d5 100%);
  padding-top: 17rem;
  padding-bottom: 6rem;
  margin-top: -6rem;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.footer-nav{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 8rem;
}
.footer-link{
  font-size: 1.8rem;
  line-height: 2rem;
  font-weight: 600;
  color: #d3d6de;
  transition: color 120ms;
  &:hover{
    color: #ffffff;
  }
}
.footer-column{
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.footer-logo-container{
  width: 100%;
  height: 14rem;
  background: url("../../public/img/logo-footer.svg") no-repeat 0 0;
  background-size: contain;
}
.footer-terms{
  font-size: 1.6rem;
  line-height: 1.8rem;
  color: #b6b9c2;
}

//service card start
.services-items-wrapper{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(32rem, 1fr));
  gap: 2.4rem;
}
.service-card-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 43.8rem;
  border-radius: 1.2rem;
  overflow: hidden;
  position: relative;
  &:hover{
    .service-card-info-container{
      transform: initial;
      opacity: 1;
    }
    .service-card-img-container{
      &:before{
        opacity: 1;
      }
    }
    .card-get-btn{
      opacity: 1;
    }
  }
}
.service-card-img-container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  &.item-0{
    background-image: url("../../public/img/item-0.jpg");
  }
  &.item-1{
    background-image: url("../../public/img/item-1.jpg");
  }
  &.item-2{
    background-image: url("../../public/img/item-2.jpg");
  }
  &:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    pointer-events: none;
    border-radius: 1.2rem;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: opacity 180ms;
  }
}
.card-get-btn{
  position: absolute;
  top: 2.4rem;
  right: 2.4rem;
  z-index: 10;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 9.8rem;
  height: 4rem;
  border-radius: 4rem;
  background-color: #FFFFFF;
  padding: 0 1.6rem;
  cursor: pointer;
  opacity: 0;
  transition: opacity 180ms;
  &:active{
    transform: scale(0.98);
  }
}
.card-get-btn-txt{
  display: block;
  font-size: 1.6rem;
  line-height: 1.8rem;
  font-weight: 600;
  color: #1C1C20;
}
.service-card-info-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 10;
  padding: 2.4rem;
  transform: translate3d(0, 20%, 0);
  opacity: 0;
  transition: transform 200ms, opacity 180ms;
}
.card-info-txt{
  text-align: center;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 0.4rem;
}
.card-title-txt{
  text-align: center;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 1.6rem;
}
.card-link-btn{
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: #ffffff;
  cursor: pointer;
  >i{
    font-size: 1.6rem;
    color: #363BD5;
  }
}
//service card end

//services single start

//services single end
