@import "reset.scss";
@import "structure.scss";
@import "../styles/single-service";
@import "../../public/font/stylesheet.css";
@import "../../public/icons/style.css";

:root{
  --link1: #2b43d5;
  --link1-H: #5165e1;
}

.main-container{
  width: 100%;
  max-width: 130rem;
  padding: 0 2rem;
  margin: 0 auto;
  @media screen and (max-width: 768px) {
    padding: 0 1.6rem;
  }
}
h1{
  font-size: 6.4rem;
  line-height: 6.8rem;
  @media screen and (max-width: 568px) {
    font-size: 5.2rem;
    line-height: 5.4rem;
  }
}
h2{
  font-size: 5.6rem;
  line-height: 5.8rem;
  font-weight: 600;
  @media screen and (max-width: 568px) {
    font-size: 4.8rem;
    line-height: 5.4rem;
  }
}
h3{
  font-size: 4.8rem;
  line-height: 5.2rem;
  font-weight: 600;
  &:not(.light){
    color: #1c1c20;
  }
  &.light{
    color: #ffffff;
  }
  @media screen and (max-width: 568px) {
    font-size: 3.6rem;
    line-height: 4rem;
  }
}
h4{
  font-size: 3.2rem;
  line-height: 3.4rem;
  @media screen and (max-width: 768px) {
    font-size: 2.8rem;
    line-height: 3rem;
  }
}
.middle-txt{
  font-size: 2.4rem;
  line-height: 2.6rem;
  @media screen and (max-width: 768px) {
    font-size: 2.2rem;
    line-height: 2.4rem;
  }
}
.small-txt{
  font-size: 2rem;
  line-height: 2.4rem;
  @media screen and (max-width: 768px) {
    font-size: 1.8rem;
    line-height: 2rem;
  }
}
h5{
  font-size: 1.8rem;
  line-height: 2.6rem;
  &.section-subtitle{
    font-weight: 600;
    letter-spacing: 0.02em;
    color: #2F40D5;
  }
  @media screen and (max-width: 768px) {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }
}
h6{
  font-size: 1.6rem;
  line-height: 1.8rem;
  @media screen and (max-width: 768px) {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}

//get touch section start
.get-in-touch-section {
  position: relative;
  z-index: 10;
  height: 80rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 6rem;
  border-bottom-right-radius: 6rem;
  background-color: #000000;
  >.get-in-touch-link{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    border-bottom-left-radius: 6rem;
    border-bottom-right-radius: 6rem;
  }
  @media screen and (max-width: 1200px) {
    height: 70rem;
  }
  @media screen and (max-width: 568px) {
    height: 45rem;
  }
}
.click-txt{
  font-size: 25rem;
  line-height: 1.1;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  @media screen and (max-width: 1200px) {
    font-size: 20rem;
  }
  @media screen and (max-width: 1024px) {
    font-size: 14rem;
    margin-bottom: 2rem;
  }
  @media screen and (max-width: 568px) {
    font-size: 7.6rem;
  }
}
//get touch section end

/* Footer */
footer {
  background-image: linear-gradient(125deg, #2b43d5 0%, #5626d5 100%);
  padding-top: 17rem;
  padding-bottom: 6rem;
  margin-top: -6rem;
  display: flex;
  flex-direction: column;
  position: relative;
  @media screen and (max-width: 568px) {
    padding-top: 12rem;
    margin-top: -6rem;
  }
}
.footer-nav{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 8rem;
  @media screen and (max-width: 568px) {
    gap: 2.4rem;
    margin-bottom: 4rem;
  }
}
.footer-link{
  font-size: 1.8rem;
  line-height: 2rem;
  font-weight: 600;
  color: #d3d6de;
  transition: color 120ms;
  &:hover{
    color: #ffffff;
  }
}
.footer-column-container{
  display: flex;
  flex: 1;
  min-width: 0;
  justify-content: space-around;
  gap: 1.6rem;
  @media screen and (max-width: 1024px) {
    flex-direction: column;
  }
}
.footer-column{
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  &.rights{
    @media screen and (max-width: 568px) {
      br{
        display: none;
      }
      .footer-terms{
        display: flex;
        align-items: center;
        white-space: nowrap;
      }
      position: absolute;
      bottom: 1.2rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
.footer-logo-container{
  width: 100%;
  height: 14rem;
  background: url("../../public/img/logo-footer.svg") no-repeat 50% 50%;
  background-size: contain;
  @media screen and (max-width: 568px) {
    height: 8rem;
  }
}
.footer-terms{
  font-size: 1.6rem;
  line-height: 1.8rem;
  color: #b6b9c2;
}

//service card start
.services-items-wrapper{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(32rem, 1fr));
  gap: 2.4rem;
  @media screen and (max-width: 1024px) {
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  }
  @media screen and (max-width: 568px) {
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    gap: 1.6rem;
  }
}
.service-card-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 43.8rem;
  border-radius: 1.2rem;
  overflow: hidden;
  position: relative;
  &:hover{
    .service-card-info-container{
      transform: initial;
      opacity: 1;
    }
    .service-card-img-container{
      &:before{
        opacity: 1;
      }
    }
    .card-get-btn{
      opacity: 1;
    }
  }
  @media screen and (max-width: 1024px) {
    height: 30rem;
  }
  @media screen and (max-width: 568px) {
    height: 23rem;
  }
}
.service-card-img-container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  &.item-0{
    background-image: url("../../public/img/item-0.jpg");
  }
  &.item-1{
    background-image: url("../../public/img/item-1.jpg");
  }
  &.item-2{
    background-image: url("../../public/img/item-2.jpg");
  }
  &:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    pointer-events: none;
    border-radius: 1.2rem;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: opacity 180ms;
  }
}
.card-get-btn{
  position: absolute;
  top: 2.4rem;
  right: 2.4rem;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 9.8rem;
  height: 4rem;
  border-radius: 4rem;
  background-color: #FFFFFF;
  padding: 0 1.6rem;
  cursor: pointer;
  opacity: 0;
  transition: opacity 180ms;
  z-index: 11;
  &:active{
    transform: scale(0.98);
  }
  @media screen and (max-width: 568px) {
    top: 1.4rem;
    right: 1.4rem;
  }
}
.card-get-btn-txt{
  display: block;
  font-size: 1.6rem;
  line-height: 1.8rem;
  font-weight: 600;
  color: #1C1C20;
}
.service-card-info-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 10;
  padding: 2.4rem;
  transform: translate3d(0, 20%, 0);
  opacity: 0;
  transition: transform 200ms, opacity 180ms;
  @media screen and (max-width: 568px) {
    padding: 4.4rem 1.6rem 1.6rem;
  }
}
.card-info-txt{
  text-align: center;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 0.4rem;
}
.card-title-txt{
  text-align: center;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 1.6rem;
  @media screen and (max-width: 568px) {
    margin-bottom: 1rem;
  }
}
.card-link-btn{
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: #ffffff;
  cursor: pointer;
  >i{
    font-size: 1.6rem;
    color: #363BD5;
  }
}
//service card end

//steps section
.services-steps-wrapper{
  width: 100%;
  position: relative;
  z-index: 10;
  padding: 3.2rem 0;
  background-color: #000000;
}
.steps-main-wrapper{
  width: 100%;
  &.dark{
    .steps-left-column{
      background-color: #1c1c1c;
    }
    .steps-left-column-title{
      color: #dcdcdc;
    }
    .steps-top-row{
      background-color: #000000;
      >h6{
        color: #ffffff;
      }
    }
    .steps-main-column{
      >h4{
        color: #ffffff;
      }
    }
    .steps-main-content{
      background-color: #212223;
    }
    .steps-top-row-close-btn{
      &:hover{
        >i{
          color: #ffffff;
        }
      }
      >i{
        color: #B1B1B1;
      }
    }
    .steps-column-item{
      &:before{
        background: linear-gradient(#353333, #353333) padding-box,
                    linear-gradient(125deg, #2b43d5 0%, #5626d5 100%) border-box;
      }
      &:not(:last-child){
        border-inline-start: 0.2rem dashed #4A4A4A;
      }
      h6{
        color: #B2B2B2;
        &:nth-last-of-type(1){
          color: #6D6E75;
        }
      }
      .small-txt{
        color: #F5F5F5;
      }
    }
    .step-item-bg{
      background-color: #131316;
      border: 0.1rem solid #131316;
    }
    .step-radio-hidden, .meeting-type-radio-hidden{
      &:checked{
        ~ .step-item-bg{
          border: 0.1rem solid #868686;
        }
      }
      &:not(:checked){
        &:hover{
          ~ .step-item-bg {
            box-shadow: 0 0 1rem #3d3c3c;
          }
        }
      }
    }
    .steps-main-item-card{
      &:nth-child(1){
        .step-item-img{
          background-image: url("../../public/img/step-dark-item-img-1.png");
        }
      }
      &:nth-child(2){
        .step-item-img{
          background-image: url("../../public/img/step-dark-item-img-2.png");
        }
      }
    }
    .step-item-info-title{
      color: #ffffff;
    }
    .choose-time-top-row{
      .small-txt{
        color: #bcbcbc;
      }
    }
    .choose-time-top-btn{
      color: #dcdcdc;
      background-color: #414141;
      &:hover{
        background-color: #5b5959;
      }
    }
    .choose-time-datepicker-mounts{
      background-color: #101010;
      &:after{
        border-bottom: 0.1rem solid #b0b0b0;
      }
      h6{
        color: #b5b5b5;
      }
    }
    .choose-time-datepicker-days-container{
      background-color: #1c1c1c;
    }
    .chose-days-item{
      >h6{
        color: #ffffff;
      }
      &:not(.red):not(.blue){
        &:hover{
          >h6{
            background-color: #6D6D6D;
            color: #ffffff;
          }
        }
      }
      &.previous-next{
        h6{
          color: #757575;
        }
      }
      &.red{
        >h6{
          background-color: #f4a6a6;
        }
      }
    }
    .steps-input{
      color: #ffffff;
      background-color: rgba(0, 0, 0, 0.4);
      &::placeholder{
        color: rgba(74, 74, 78, 0.5);
      }
    }
    .steps-meeting-type-container{
      >h6{
        color: #969595;
      }
    }
    .steps-meeting-type-item{
      .middle-txt{
        color: #ffffff;
      }
      .small-txt{
        color: #656565;
      }
    }
  }
  &.light{
    .steps-left-column{
      background-color: #EFF1F5;
    }
    .steps-left-column-title{
      color: #1c1c20;
    }
    .steps-top-row{
      background: #EFF1F5;
      >h6{
        color: #1c1c20;
      }
    }
    .steps-main-column{
      >h4{
        color: #1c1c20;
      }
    }
    .steps-main-content{
      background-color: #ffffff;
    }
    .steps-top-row-close-btn{
      &:hover{
        >i{
          color: #212121;
        }
      }
      >i{
        color: #4a4a4e;
      }
    }
    .steps-column-item{
      &:before{
        background: linear-gradient(#ffffff, #ffffff) padding-box,
                    linear-gradient(125deg, #2b43d5 0%, #5626d5 100%) border-box;
      }
      &:not(:last-child){
        border-inline-start: 0.2rem dashed #B6B9C2;
      }
      h6{
        color: #2F40D5;
        &:nth-last-of-type(1){
          color: #6D6E75;
        }
      }
      .small-txt{
        color: #2F40D5;
      }
    }
    .steps-main-item-card{
      &:nth-child(1){
        .step-item-img{
          background-image: url("../../public/img/step-light-item-img-1.png");
        }
      }
      &:nth-child(2){
        .step-item-img{
          background-image: url("../../public/img/step-light-item-img-2.png");
        }
      }
    }
    .step-item-bg{
      background-color: #ffffff;
      border: 0.1rem solid #e5e7ed;
    }
    .step-radio-hidden, .meeting-type-radio-hidden{
      &:checked{
        ~ .step-item-bg{
          border: 0.1rem solid #868686;
          background-color: #F4F5FE;
        }
      }
      &:not(:checked){
        &:hover{
          ~ .step-item-bg {
            box-shadow: 0 0 1rem #d5d5d5;
          }
        }
      }
    }
    .step-item-info-title{
      color: #1c1c20;
    }
    .step-item-img-container{
      >i{
        background-color: #2F40D5;
      }
    }
    .learn-bottom-link-btn{
      &.next{
        color: #ffffff;
        background-image: linear-gradient(97.42deg, #2B43D5 -4.78%, #5626D5 101.8%);
        &:hover{
          background-image: linear-gradient(97.42deg, #616fe7 -4.78%, #5626D5 101.8%);
        }
      }
      &:not(.next){
        color: rgba(#1C1C20, 0.8);
        background-color: #ffffff;
        &:hover{
          box-shadow: 0 0 0.2rem 0 #9f9999;
          color: rgba(#1C1C20, 1);
        }
      }
    }
    .choose-time-top-row{
      .small-txt{
        color: #0A0A0A;
      }
    }
    .choose-time-top-btn{
      color: #1C1C20;
      background-color: #EFF1F5;
      &:hover{
        background-color: #D3D6DE;
      }
    }
    .choose-time-datepicker-mounts{
      background-color: #E2E8FF;
      h6{
        color: #000000;
      }
    }
    .choose-time-datepicker-days-container{
      background-color: #ffffff;
      border-width: 0.1rem;
      border-style: solid;
      border-color: #CCDDFF;
      border-top: none;
    }
    .chose-days-item{
      >h6{
        color: #1C1C20;
      }
      &:not(.red):not(.blue){
        &:hover{
          >h6{
            background-color: #F0F5FF;
          }
        }
      }
      &.blue{
        >h6{
          color: #ffffff;
        }
      }
      &.previous-next{
        h6{
          color: #B6B9C2;
        }
      }
      &.red{
        >h6{
          background-color: #FFE0E0;
        }
      }
    }
    .steps-input{
      color: #000000;
      background-color: #EFF1F5;
      &::placeholder{
        color: #4A4A4E;
      }
    }
    .steps-meeting-type-container{
      >h6{
        color: #4A4A4E;
      }
    }
    .steps-meeting-type-item{
      .middle-txt{
        color: #1c1c20;
      }
      .small-txt{
        color: #83848a;
      }
    }
  }
}
.steps-top-row{
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  border-radius: 1.2rem 1.2rem 0 0;
  >h6{
    font-weight: 400;
  }
}
.steps-top-row-close-btn{
  width: 2.4rem;
  height: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  cursor: pointer;
  >i{
    font-size: 1.8rem;
    transition: color 200ms;
  }
}
.steps-main-content{
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 2.4rem;
  padding: 2.4rem 2.4rem 0;
}
.steps-left-column{
  width: 29.2rem;
  min-height: 60rem;
  border-radius: 1rem;
  padding: 2rem;
  gap: 1.8rem;
}
.steps-left-column-title{
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 600;
  margin-bottom: 1.8rem;
}
.steps-column-item{
  width: 100%;
  padding-inline-start: 1.4rem;
  position: relative;
  &:not(:last-child){
    padding-bottom: 2.4rem;
  }
  &:before{
    content: "";
    position: absolute;
    top: 0;
    left: -0.7rem;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    border: 0.1rem solid transparent;
  }
  h6{
    font-weight: 400;
    margin-bottom: 0.4rem;
  }
  .small-txt{
    font-weight: 700;
    margin-bottom: 0.4rem;
  }
}


.steps-main-column{
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 2.4rem;
  padding-bottom: 2.4rem;
  >h4, h6{
    max-width: 44.4rem;
  }
  >h4{
    font-weight: 700;
  }
  >h6{
    font-weight: 400;
    color: #83848a;
  }
  .learn-link-bottom-buttons-row{
    justify-content: flex-end;
  }
}
.steps-main-items-wrapper{
  width: 100%;
  flex: 1;
}
.steps-main-items-container{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  gap: 1.6rem;
}
.steps-main-item-card{
  min-height: 23rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3.2rem;
  border-radius: 1.2rem;
  position: relative;
}
.step-item-img-container{
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  z-index: 4;
  >i{
    width: 2.4rem;
    height: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.6rem;
    border-radius: 50%;
    color: #ffffff;
    pointer-events: none;
    opacity: 0;
  }
}
.step-item-img{
  flex: 0 0 auto;
  width: 6.8rem;
  height: 6.8rem;
  border-radius: 1.2rem;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  position: relative;
  z-index: 10;
}

.step-radio-hidden{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
  &:checked{
    ~ .step-item-img-container{
      .icon-done-outline{
        opacity: 1;
      }
    }
  }
}

.meeting-type-radio-hidden{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.step-item-bg{
  position: absolute;
  inset: 0;
  border-radius: 1.2rem;
  transition: background-color 140ms, box-shadow 160ms;
  z-index: 1;
}
.step-item-info-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.4rem;
  text-align: left;
  position: relative;
  z-index: 2;
  h6{
    font-weight: 400;
    color: #585858;
  }
}
.step-item-info-title{
  font-size: 2rem;
  line-height: 2.2rem;
  font-weight: 600;
}

.steps-inputs-container{
  width: 100%;
}
.steps-inputs-content{
  width: 100%;
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.steps-inputs-row{
  width: 100%;
  display: flex;
  gap: 0.8rem 1.6rem;
}
.steps-input-title-container{
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.steps-label{
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 400;
  color: #83848a;
}
.steps-input{
  padding: 0 1.2rem;
  height: 4rem;
  border-radius: 0.8rem;
  font-size: 1.6rem;
  border: 0.1rem solid rgba(74, 74, 78, 0.5);
  &:focus{
    border: 0.1rem solid rgba(74, 74, 78, 1);
  }
  &::placeholder{
    font-size: 1.6rem;
    line-height: 1.8rem;
    font-weight: 400;
  }
}

.steps-meeting-type-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 2.4rem;
  border-radius: 1.2rem;
  min-height: 8rem;
  position: relative;
  .middle-txt, .small-txt{
    position: relative;
    z-index: 4;
  }
  .middle-txt{
    margin-bottom: 0.4rem;
  }
  &:not(:last-of-type){
    margin-bottom: 1.6rem;
  }
}

// step two datepicker section
.choose-time-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.2rem;
}
.choose-time-top-row{
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  .small-txt {
    font-weight: 600;
  }
}
.choose-time-top-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  font-size: 1.6rem;
  line-height: 1.8rem;
  border-radius: 1.2rem;
  padding: 0 1.6rem;
  height: 4rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 180ms;
  &:active{
    transform: scale(0.98);
  }
  >i{
    width: 2.4rem;
    height: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
  }
  &:first-of-type{
    margin-inline-start: auto;
  }
}
.choose-time-datepicker-wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.choose-time-datepicker-mounts{
  display: flex;
  align-items: center;
  width: 100%;
  height: 5.4rem;
  padding: 0 2.4rem;
  border-radius: 1.2rem 1.2rem 0 0;
  position: relative;
  &:after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 2.4rem;
    right: 2.4rem;
  }
  h6{
    flex: 1;
    min-width: 0;
    font-size: 1.6rem;
    line-height: 1.8rem;
    font-weight: 500;
    text-align: center;
  }
}
.choose-time-datepicker-days-container{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 0.8rem;
  padding: 1.4rem 2.4rem 2.4rem;
  border-radius: 0 0 1.2rem 1.2rem;
}
.chose-days-item{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  cursor: pointer;
  &:not(.red):not(.gray):not(.blue){
    &:hover{
      >h6{
        background-color: rgba(153, 153, 153, 0.12);
      }
    }
  }
  &.blue{
    >h6{
      background-image: linear-gradient(125deg, #2b43d5 0%, #5626d5 100%);
    }
  }
  &.red{
    cursor: default;
    &:active{
      .not-availible-info{
        opacity: 1;
      }
    }
  }
  >h6{
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: 400;
    transition: background-color 140ms;
    position: relative;
  }
}
.not-availible-info{
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  color: #1c1c20;
  position: absolute;
  right: 100%;
  top: 50%;
  margin-top: -2rem;
  margin-inline-end: 1.2rem;
  height: 4rem;
  border-radius: 1.2rem;
  padding: 0 1.2rem;
  min-width: 10rem;
  background-color: #FFE0E0;
  pointer-events: none;
  opacity: 0;
  &:after{
    content: "";
    position: absolute;
    width: 1.4rem;
    height: 1.4rem;
    right: -0.7rem;
    transform: rotate(45deg);
    background-color: #FFE0E0;
    border-top-left-radius: 0.4rem;
  }
}
// step two datepicker section

.steps-meeting-type-container{
  width: 100%;
  max-width: 60rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  >h6{
    font-weight: 600;
    margin-bottom: 0.8rem;
  }
}

.learn-link-bottom-buttons-row{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: auto;
}
.learn-bottom-link-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 10rem;
  height: 4rem;
  border-radius: 2rem;
  padding: 0 2.4rem;
  cursor: pointer;
  font-size: 1.6rem;
  line-height: 1.8rem;
  font-weight: 600;
  transition: color 120ms, background-color 140ms, box-shadow 140ms;
  &.next{
    color: #000000;
    background-color: rgba(#ffffff, 0.8);
    &:hover{
      background-color: rgba(#ffffff, 1);
    }
  }
  &:not(.next){
    color: #868686;
    border: 0.1rem dashed #4a4a4e;
    background-color: #1c1c20;
    &:hover{
      color: #ffffff;
      background-color: #1a1a1e;
    }
  }
  >i{
    width: 1.6rem;
    height: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline-end: 0.8rem;
  }
}
//steps section