//need to delete
header{
  &.light{
    background-color: #1c1c20;
  }
}

.learn-top-banner{
  width: 100%;
  height: 58.6rem;
  background: url("../../public/img/learn-banner.png") no-repeat 50% 50%;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.learn-top-banner-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 67.6rem;
  text-align: center;
  h2{
    color: #ffffff;
    margin-bottom: 1.6rem;
  }
  h4{
    font-weight: 400;
    color: #D5D5D5;
  }
  >i{
    width: 6rem;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5.4rem;
    color: #ffffff;
    margin-bottom: 1.6rem;
  }
}