
main {
    padding: 60px;
}

.services-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.services-header h2 {
    font-size: 100px;
}

.filters fieldset {
    border: none;
    display: flex;
    gap: 12px;
}

.form-control input {
    display: none;
}

.form-control input:checked + label {
    background-color: #e2e8ff;
    color: #2b43d5;
}

.form-control label {
    font-size: 20px;
    color: #b6b9c2;
    padding: 4px 16px;
    border-radius: 25px;
    cursor: pointer;
}

.services-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.service-item {
    border-radius: 12px;
    flex-basis: 32%;
    background-color: #deebfe;
    height: 400px;
    background: linear-gradient(to top, black, rgb(0 0 0 / 25%) 25%, transparent),
    url('/img/item-0.jpg') no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 24px;
    color: white;
}

.service-item span {
    color: #aeaeae;
    font-size: 18px;
}

.service-item h5 {
    margin-top: 8px;
    font-size: 24px;
}

.service-item button {
    border-radius: 50%;
    background-color: white;
    width: 40px;
    height: 40px;
}

/*  */
section.banner {
    height: 60vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to top, black 5%, rgb(0 0 0 / 60%)),
    url('/img/services-banner.jpg') center no-repeat;
    background-size: cover;
    color: white;
}
section.banner h1 {
    font-size: 56px;
}

/*  */
section.get-in-touch {
    position: relative;
    z-index: 10;
    height: 100vh;
    background: black;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section.get-in-touch h1 {
    font-size: 250px;
    color: white;
    margin: 0;
    margin-top: 170px;
    text-transform: uppercase;
}
section.get-in-touch p {
    font-size: 48px;
    color: white;
}
