section.recent-works {
    padding: 60px;
}

.recent-works-header {
    margin-bottom: 24px;
}
.recent-works-header span {
    color: #2b43d5;
    font-size: 18px;
}

.recent-works-header h2 {
    font-size: 48px;
}
.recent-works-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    height: 438px;
}
.recent-works-list .recent-works-item {
    border-radius: 12px;
    overflow: hidden;
}
.recent-works-list .recent-works-item .overlay {
    opacity: 0;
    transition: opacity 0.2s;
    width: 100%;
    height: 100%;
    background-color: rgba(28, 28, 32, 0.8);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
.recent-works-list .recent-works-item .overlay .description {
    color: white;
    font-size: 16px;
}
.recent-works-list .recent-works-item .overlay .title {
    color: white;
    font-size: 32px;
}
.recent-works-list .recent-works-item .start-icon {
    margin-top: 8px;
    border-radius: 50%;
    background-color: white;
    width: 40px;
    height: 40px;
}
.recent-works-list .recent-works-item .start {
    background-color: white;
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 100px;
    position: absolute;
    top: 20px;
    right: 20px;
}
.recent-works-list .recent-works-item:hover .overlay {
    opacity: 1;
}

.recent-works-list .item-0 {
    background: url('/img/item-0.jpg') no-repeat;
    background-size: contain;
}
.recent-works-list .item-1 {
    background: url('/img/item-1.jpg') no-repeat;
    background-size: contain;
}
.recent-works-list .item-2 {
    background: url('/img/item-2.jpg') no-repeat;
    background-size: contain;
}

/*  */
section.banner {
    height: 60vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url('/img/service-banner.jpg') center no-repeat;
    background-size: cover;
    color: white;
}
section.banner h1 {
    font-size: 56px;
    margin-bottom: 1.5rem;
}
section.banner p {
    color: #b6b9c2;
    margin-bottom: 2rem;
}
section.banner button {
    color: white;
    font-size: 18px;
    border-radius: 100px;
    padding: 10px 24px;
    margin-left: 16px;
    background: linear-gradient(to right, #2b43d5, #5626d5);
    align-self: center;
}

/*  */
section.pricing {
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(#e8f2fd80, #ebe4fc80);
}

section.pricing h2 {
    font-size: 48px;
    color: #1c1c20;
    margin-bottom: 1rem;
}
section.pricing p {
    font-size: 18px;
    color: #4a4a4e;
    text-align: center;
    margin-bottom: 3rem;
}
section.pricing .pricing-cards {
    display: flex;
    gap: 1.5rem;
}
section.pricing .pricing-cards .pricing-card {
    border-radius: 0.8rem;
    background-color: white;
    box-shadow: 1px 1px 8px #2b43d533;
    position: relative;
    color: #4a4a4e;
    padding: 3rem;
    width: 329px;
}
section.pricing .pricing-cards .pricing-card .features-label {
    position: absolute;
    top: 0;
    right: 1.5rem;
    transform: translateY(-50%);
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.pricing-card.v-1 .features-label {
    width: 49px;
    height: 49px;
    background-color: #4a4a4e;
    font-size: 10px;
}
.pricing-card.v-1 .features-label > span {
    font-size: 20px;
    margin: -5px 0;
}
.pricing-card.v-2 .features-label {
    width: 63px;
    height: 63px;
    background-color: #1c1c20;
    font-size: 12px;
}
.pricing-card.v-2 .features-label > span {
    font-size: 24px;
    margin: -5px 0;
}
.pricing-card.v-3 .features-label {
    width: 78px;
    height: 78px;
    background-color: #2b43d5;
    font-size: 16px;
}
.pricing-card.v-3 .features-label > span {
    font-size: 32px;
    margin: -5px 0;
}
.pricing-card h3 {
    font-size: 32px;
    margin-bottom: 1.5rem;
}
.pricing-card ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    margin-bottom: 1rem;
    color: #83848a;
}
.pricing-card ul li {
    margin-bottom: 0.8rem;
}
.pricing-card a {
    text-decoration: none;
}

/*  */
section.cooperation {
    position: relative;
    z-index: 10;
    height: 100vh;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('/img/cooperation.jpg') no-repeat center;
    background-size: cover;
    color: white;
    text-align: center;
}
section.cooperation h2 {
    font-size: 24px;
    color: #566eff;
    margin-bottom: 0.5rem;
}
section.cooperation h1 {
    font-size: 48px;
    margin-bottom: 2.5rem;
}
section.cooperation button {
    font-size: 72px;
    border-radius: 100px;
    padding: 32px 60px;
    margin-bottom: 2.5rem;
    box-shadow: 12px 12px 120px #ffffff80;
}
section.cooperation p {
    font-size: 24px;
    color: #83848a;
}
