/* Global */
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: sans-serif;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

* {
  box-sizing: border-box;
}

/*  */
header {
  padding: 10px 60px;
  display: flex;
  align-items: center;
  height: 66px;
  justify-content: space-between;
}
header nav {
  display: flex;
  gap: 32px;
  align-items: center;
}
header nav a {
  text-decoration: none;
  color: #83848a;
}
header nav button {
  color: white;
  font-size: 18px;
  border-radius: 100px;
  padding: 10px 24px;
  margin-left: 16px;
  background: linear-gradient(to right, #2b43d5, #5626d5);
}

/*  */
main {
  height: calc(100vh - 66px);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main section {
  width: 50%;
  margin: 0 auto;
}
main section h1 {
  font-size: 64px;
  text-align: center;
  color: black;
}
main section h1 span {
  color: white;
  border-radius: 12px;
  padding: 6px 16px;
  background: linear-gradient(to right, #2b43d5, #5626d5);
}
main section p {
  font-size: 24px;
  text-align: center;
  color: #b6b9c2;
  margin-top: 16px;
}
main section .search {
  margin-top: 60px;
}
main .service-label {
  position: absolute;
  color: #83848a;
  padding: 12px 24px;
  font-size: 24px;
  border-radius: 100px;
}
main .service-label:nth-of-type(1) {
  background-color: #fcf6bd99;
  top: 10%;
  left: 18%;
  border-bottom-right-radius: 0;
}
main .service-label:nth-of-type(2) {
  background-color: #e2e8ff;
  top: 15%;
  right: 8%;
  border-bottom-left-radius: 0;
}
main .service-label:nth-of-type(3) {
  background-color: #f8f3ff;
  left: 3%;
  top: 30%;
  border-bottom-right-radius: 0;
}
main .service-label:nth-of-type(4) {
  background-color: #f0f5ff;
  right: 8%;
  top: 42%;
  border-top-left-radius: 0;
}
main .service-label:nth-of-type(5) {
  background-color: #caffd34d;
  bottom: 30%;
  left: 3%;
  border-top-right-radius: 0;
}

/*  */
section.shelf {
  margin: 60px;
}
section.shelf p {
  font-size: 18px;
  color: #2b43d5;
}
section.shelf h2 {
  font-size: 48px;
  color: #1c1c20;
}
section.shelf .shelf-items {
  margin-top: 30px;
  display: grid;
}

/*  */
.popular-services {
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  height: 438px;
}
.popular-services .service-item {
  border-radius: 12px;
  overflow: hidden;
}
.popular-services .service-item .overlay {
  opacity: 0;
  transition: opacity 0.2s;
  width: 100%;
  height: 100%;
  background-color: rgba(28, 28, 32, 0.8);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.popular-services .service-item .overlay .description {
  color: white;
  font-size: 16px;
}
.popular-services .service-item .overlay .title {
  color: white;
  font-size: 32px;
}
.popular-services .service-item .start-icon {
  margin-top: 8px;
  border-radius: 50%;
  background-color: white;
  width: 40px;
  height: 40px;
}
.popular-services .service-item .start {
  background-color: white;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 100px;
  position: absolute;
  top: 20px;
  right: 20px;
}
.popular-services .service-item:hover .overlay {
  opacity: 1;
}

.popular-services .item-0 {
  background: url('/item-0.jpg') no-repeat;
  background-size: contain;
}
.popular-services .item-1 {
  background: url('/item-1.jpg') no-repeat;
  background-size: contain;
}
.popular-services .item-2 {
  background: url('/item-2.jpg') no-repeat;
  background-size: contain;
}

/*  */
.banner {
  margin: 0 60px;
  padding-left: 60px;
  height: 550px;
  background: url('/banner.jpg') no-repeat center;
  border-radius: 12px;
  background-size: contain;
  display: flex;
  align-items: center;
}
.banner .banner-content {
  width: 45%;
}
.banner .banner-content p {
  font-size: 18px;
  color: white;
}
.banner .banner-content h2 {
  color: white;
  font-size: 48px;
  margin-bottom: 24px;
}
.banner .banner-content .description {
  color: #b6b9c2;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 48px;
}
.banner .banner-content button {
  color: white;
  font-size: 18px;
  background: transparent;
  border: 1px solid white;
  padding: 10px 24px;
  border-radius: 100px;
}

/*  */
.benefit-items {
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}
.benefit-items .benefit-item {
  border-radius: 12px;
  padding: 60px 40px;
}
.benefit-items .benefit-item.budget {
  background-color: #f3fff5;
}
.benefit-items .benefit-item.quality {
  background-color: #fffcf3;
}
.benefit-items .benefit-item.payment {
  background-color: #f8f3ff;
}
.benefit-items .benefit-item.support {
  background-color: #e2e8ff;
}
.benefit-items .benefit-item h3 {
  margin-bottom: 12px;
  font-size: 24px;
  color: #1c1c20;
}
.benefit-items .benefit-item p {
  font-size: 18px;
  color: #83848a;
}

/*  */
section.get-in-touch {
  position: relative;
  z-index: 10;
  height: 100vh;
  background: black;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.get-in-touch h1 {
  font-size: 250px;
  color: white;
  margin: 0;
  margin-top: 170px;
  text-transform: uppercase;
}
section.get-in-touch p {
  font-size: 48px;
  color: white;
}

/* Footer */
footer {
  background: linear-gradient(to right, #2b43d5, #5626d5);
  padding: 60px;
  padding-top: 170px;
  margin-top: -60px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
footer nav {
  display: flex;
  justify-content: space-between;
}
footer nav .column {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
footer nav .column a {
  font-size: 1rem;
  color: #d3d6de;
  text-decoration: none;
}
footer nav .column .terms {
  color: #b6b9c2;
}
footer .footer-logo {
  width: 100%;
}
