.steps-column-item{
  &:nth-child(1 of .steps-column-item){
    border-inline-start: 0.2rem dashed #2b43d5;
    &:before{
      background: linear-gradient(125deg, #2b43d5 0%, #5626d5 100%) padding-box,
                  linear-gradient(125deg, #2b43d5 0%, #5626d5 100%) border-box;
    }
  }
}
.choose-time-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.2rem;
}
.choose-time-top-row{
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  .small-txt {
    font-weight: 600;
    color: #bcbcbc;
  }
}
.choose-time-top-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  font-size: 1.6rem;
  line-height: 1.8rem;
  border-radius: 1.2rem;
  padding: 0 1.6rem;
  height: 4rem;
  color: #dcdcdc;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #414141;
  transition: background-color 180ms;
  &:hover{
    background-color: #5b5959;
  }
  &:active{
    transform: scale(0.98);
  }
  >i{
    width: 2.4rem;
    height: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
  }
  &:first-of-type{
    margin-inline-start: auto;
  }
}
.choose-time-datepicker-wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.choose-time-datepicker-mounts{
  display: flex;
  align-items: center;
  width: 100%;
  height: 6.2rem;
  padding: 0 2.4rem;
  border-radius: 1.2rem 1.2rem 0 0;
  background-color: #101010;
  position: relative;
  &:after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 2.4rem;
    right: 2.4rem;
    border-top: 0.1rem solid #b0b0b0;
  }
  h6{
    flex: 1;
    min-width: 0;
    font-size: 1.6rem;
    line-height: 1.8rem;
    font-weight: 500;
    color: #b5b5b5;
    text-align: center;
    //&:not(:first-child):not(:last-child){
    //  text-align: center;
    //}
    //&:first-child{
    //  text-align: left;
    //}
    //&:last-child{
    //  text-align: right;
    //}
  }
}
.choose-time-datepicker-days-container{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 0.8rem;
  padding: 1.4rem 2.4rem 2.4rem;
  border-radius: 0 0 1.2rem 1.2rem;
  background-color: #1c1c1c;
}
.chose-days-item{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  cursor: pointer;
  &:not(.red):not(.gray):not(.blue){
    &:hover{
      >h6{
        background-color: rgba(153, 153, 153, 0.12);
      }
    }
  }
  &.previous-next{
    h6{
      color: #757575;
    }
  }
  &.red{
    >h6{
      background-color: #f4a6a6;
    }
  }
  &.gray{
    >h6{
      background-color: #6d6d6d;
    }
  }
  &.blue{
    >h6{
      background-image: linear-gradient(125deg, #2b43d5 0%, #5626d5 100%);
    }
  }
  >h6{
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: 400;
    transition: background-color 140ms;
  }
}