.faq-section-wrapper{
  width: 100%;
  padding-block: 8rem;
  background-image: linear-gradient(105deg, rgba(232, 242, 253, 0.5) 0%, rgba(235, 228, 252, 0.5) 40%, rgba(255, 255, 255, 1) 100%);
}
.faq-section-container{
  width: 100%;
  display: flex;
}
.faq-section-content{
  width: 100%;
  max-width: 110rem;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.faq-title{
  margin-bottom: 1.6rem;
  color: #000000;
  @media screen and (max-width: 761px) {
    margin-bottom: 1.2rem;
  }
}
.faq-subtitle{
  font-size: 2.4rem;
  line-height: 2.8rem;
  font-weight: 400;
  text-align: center;
  color: #83848a;
  max-width: 68rem;
  margin-bottom: 4rem;
  @media screen and (max-width: 761px) {
    font-size: 2rem;
    margin-bottom: 2.4rem;
  }
}
.faq-search-container{
  width: 100%;
  max-width: 68rem;
  height: 5.8rem;
  position: relative;
  margin-bottom: 3.2rem;
  >i{
    position: absolute;
    top: 50%;
    left: 2.4rem;
    transform: translateY(-50%);
    font-size: 2.2rem;
    color: #83848a;
    width: 2.4rem;
    height: 2.4rem;
  }
  @media screen and (max-width: 761px) {
    height:4.8rem;
    margin-bottom: 4rem;
    >i{
      left: 1.4rem;
    }
  }
}
.faq-search-input{
  width: 100%;
  height: 100%;
  font-size: 1.8rem;
  line-height: 2rem;
  color: #000000;
  border-radius: 6rem;
  background-color: #ffffff;
  border: 0.1rem solid transparent;
  padding-inline-start: 6rem;
  padding-inline-end: 2.4rem;
  box-shadow: 0.1rem 0.1rem 0.8rem 0 rgba(43, 67, 213, 0.2);
  &::placeholder{
    font-size: 1.8rem;
    line-height: 2rem;
    font-weight: 600;
    color: #83848a;
  }
  @media screen and (max-width: 761px) {
    padding-inline-start: 4.8rem;
    font-size: 1.6rem;
    &::placeholder{
      font-size: 1.6rem;
      font-weight: 400;
    }
  }
}
.faq-section-tabs-info-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 40rem;
}
.faq-section-tabs-container{
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
  max-width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  @media screen and (max-width: 761px) {
    margin-bottom: 3.2rem;
  }
}
.faq-section-tab-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 2.4rem;
  border-radius: 0.8rem;
  height: 4rem;
  border: none;
  outline: none;
  flex: 0 0 auto;
  min-width: 0;
  cursor: pointer;
  transition: color 140ms, background-color 160ms;
  &.selected{
    background: #E2E8FF;
    >span{
      color: var(--link1);
    }
  }
  &:not(:last-child){
    margin-inline-end: 0.4rem;
  }
  &:not(.selected):not(.active){
    >span{
      color: #4a4a4e;
    }
  }
  &:not(.selected){
    &:hover{
      cursor: pointer;
      >span{
        color: var(--link1-H);
      }
    }
  }
  &:first-child{
    margin-inline-start: auto;
  }
  &:last-child{
    margin-inline-end: auto;
  }
}
.faq-section-tab-btn-txt{
  display: block;
  font-size: 2.4rem;
  line-height: 2.6rem;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  transition: color 160ms;
  @media screen and (max-width: 761px) {
    font-size: 1.8rem;
    line-height: 2.2rem;
  }
}
.faq-plus-minus-row{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 3.2rem 0;
  min-height: 8.8rem;
  border-bottom: 0.1rem solid #B6B9C2;
  &:not(:last-child){
    margin-bottom: 2.4rem;
  }
  &.active{
    .faq-plus-minus-title-txt{
      color: #000000;
    }
    .plus-minus-btn{
      >i{
        color: #000000;
        &:before{
          content: "\e90e";
        }
      }
    }
    .faq-plus-hidden-info-container{
      max-height: 20rem;
      margin-top: 1.6rem;
    }
  }
  @media screen and (max-width: 761px) {
    padding: 1.8rem;
    &:not(:last-child){
      margin-bottom: 1.8rem;
    }
  }
}
.faq-plus-minus-main-info{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto 0;
}
.faq-plus-minus-title-txt{
  font-size: 3.2rem;
  line-height: 3.4rem;
  font-weight: 600;
  color: #83848a;
  transition: color 200ms;
  padding-inline-end: 1.2rem;
  @media screen and (max-width: 761px) {
    font-size: 2.2rem;
    line-height: 2.8rem;
  }
}
.plus-minus-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  border: none;
  outline: none;
  cursor: pointer;
  >i{
    font-size: 3.2rem;
    color: #83848a;
  }
}
.faq-plus-hidden-info-container{
  width: 100%;
  padding-inline-end: 5.6rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 200ms, margin 200ms;
}
.faq-plus-hidden-info-txt{
  display: block;
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 400;
  color: #83848A;
}